*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-right: 5px;
    transition: 0.5s;
}

nav a:hover{
    color: #ccc;
}

header h1, #icone_carrinho, #carQtd{
    color: white;
}

#icone_carrinho{
    font-size: 40px;
}

.form{
    display: flex;
    align-items: center;
}
header h1{
    font-size: 40px;
    font-style: italic;
}

header input{
    padding: 12px;
    border-radius: 12px;
    margin: 0 10px;
    border: none;
}

header input:focus{
    border: 1px solid red;
    outline: none;
}

header button{
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

header button:hover{
    background-color: #ccc;
}

header{
    background-color: #000000;
    padding: 40px;
    position: sticky;
    top: 0;
    left: 0;
    /* z-index: 1; */
}

header .container{
    justify-content: space-between;
    align-items: center;
}

.cFlex{
    display: flex;
}

#sProdutos{
    padding-top: 100px;
}

/*pedir explicação ????? - Por que ficou assim?*/

main{
    width: 100%;
}

main h2, .conteudo_sobre h2{
    font-size: 30px;
    padding-bottom: 14px;
    border-bottom: 4px solid black;
    width: fit-content;
    font-style: italic;
}

/*estes itens estavam embaixo da estilização do .produto, porém, ao ler a estilização
dos itens, um deles resetava o margin, então defini essas duas estilizações antes do .produto*/

.item1{
    margin-right: 20px;
}

.item3{
    margin: 0 20px;
}

.produto{
    max-width: 100%;
    width: 22%;
    margin-top: 20px;
}



.produto button{
    padding: 10px;
    width: 200px;
    border-radius: 9px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 12px;
    transition: 0.2s;
    font-size: 15px;
}

#txtProduto{
    margin-top: 14px;
}

.produto h3{
    text-align: center;
}

.produto p{
    margin-top: 10px;
}

.icone_mais{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(38, 184, 62);
}

.produto button:hover{
    background-color: rgb(70, 70, 70);
}

.produtos{
    flex-wrap: wrap;
}

.produtos img{
    border-radius: 3px;
    height: 150px;
    width: 100%;
}

#about img{
    height: 400px;
}

#about{
    padding-top: 100px;
    display: flex;
}

.conteudo_sobre{
    display: flex;
}

/* .conteudo_sobre h2{
    margin-bottom: 5px;
    font-size: 27px;
}

.conteudo_sobre p{
    font-size: 18px;
    margin-top: 20px;
} */

#txtSobre{
    margin-left: 10px;
}

footer{
    padding: 20px;
    margin-top: 40px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}

footer span{
    font-style: italic;
    color: #ccc;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .produto {
        width: 70%;
    }
    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    #about{
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    .item1, .item3{
        margin: 0;
    }
    .conteudo_sobre{
        display: block;
    }
    .conteudo_sobre h2, .produtos{
        margin-top: 23px;
    }
}

/* @media screen and (max-width: 640px) {
    
} */