*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: rgb(186, 189, 22);
}

h1{
    margin-bottom: 13px;
    font-weight: 700;
}

h1, p{
    color: white;
}

header{
    display: flex;
    background-color: rgb(89, 90, 19);
    padding: 25px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
}

#add_text{
    color: greenyellow;
}

#del_text{
    color: red;
}

a{
    text-decoration: none;
}

/*POSICIONAMENTO*/
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
    background-color: rgba(138, 139, 31, 0.637);
    width: 400px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
}

.formAdd div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.tabelaTarefas{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ESTILIZAÇÃO DOS ITENS POSICIONADOS*/
label{
    color: rgb(233, 233, 233);
    font-weight: 600;
}

#entrada_tarefa{
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgba(77, 90, 58, 0.384);
}

#entrada_data{
    padding: 3px 1px 3px 1px;
    border-radius: 7px;
    border: none;
    background-color: rgba(77, 90, 58, 0.384);
}

::placeholder{
    color: rgb(212, 212, 212) ;
}

#entrada_tarefa:focus, #entrada_data:focus{
    border: none;
    outline: solid 1px rgb(136, 185, 2);
}

#btn_OK, #btn_cancel{
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: rgb(226, 226, 226);
    font-weight: 600;
}

#btn_OK{
    color: white;
    background-color: rgb(136, 216, 7);
    cursor: pointer;
}

#btn_cancel{
    background-color: rgb(247, 66, 66);
    cursor: pointer;
}

#btn_OK:hover{
    color: rgb(226, 226, 226);
    background-color: rgb(116, 185, 4);
}

#btn_cancel:hover{
    color: rgb(202, 200, 200);
    background-color: rgb(214, 32, 32);
}

table{
    text-align: center;
}

img{
    height: 34px;
    margin-top: 7px;
}

table th{
    padding: 10px;
    font-size: 25px;
    border-bottom: solid 2px black;
}

tbody td{
    padding: 3px;
    font-size: 18px;
}

.nomeTarefa:hover{
    cursor: pointer;
    font-size: 23px;
}

.concluido{
    text-decoration: line-through;
}

#concluido{
    margin: 7px 0 0 24.5px;
    display: none;
}