.navbar-brand img{
    border-radius: 6px;
    height: 65px;
}

form{
    display: flex;
    max-height: 33px;
}

form input, form input:focus{
    border-radius: 12px;
    margin-right: 3px;
    border: 1px solid black;
    outline: none;
}

header{
    background-color: rgb(2, 67, 206);
}

header .container > a/*, header .container > a*/{
    color: white;
}

header ul a{
    color: white !important;
}

header ul a:hover{
    color: rgb(194, 194, 194) !important;
}

.col-5 > h1, .col-3 h2{
    font-size: 28px;
}

#col_new > h2{
    margin-bottom: 2px;
}

#col_new{
    padding-top: 31px;
    margin-left: 20px;
}

#ultimaNoticia{
    width: 100%
}

#ultimaNoticia img{
    height: 180px;
    border-radius: 6px;
    width: 100%;
}

#ultimaNoticia h4{
    color: #666666;
    border-bottom: 1.5px solid #666666;
    font-size: 20px;
    width: 100%;
}

#ultimaNoticia h5{
    margin: 0;
}

/*daria para usar: text-align:justify; e word-spacing:-2px;*/
#ultimaNoticia p{
    font-size: 15px;
    text-align: justify;
    word-break: break-all;
}

.novidade h4{
    width: 220px;
    border-bottom: 1px solid rgb(38, 0, 255) ;
}

.cards{
    display: flex;
    max-width: 990px;
    flex-wrap: wrap;
}

/*explicação: por que não precisa do float: right;?*/
aside{
    float: right;
}