*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(114, 114, 114);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 300px;
}

#cabecalho{
    display: flex;
    background-color: red;
}