@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    padding: 16px 0;
    background-color: #182C61;
    color: #ffff;
    font-family: 'Bungee', cursive;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section h2, footer h2, footer h4{
    color: #182C61;
    font-family: 'Bungee', cursive;
}

.Lnavegate li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

.Lnavegate li a{
    text-decoration: none;
    color: #ffff;
}

#about{
    display: flex;
    list-style: none;
}

.listaicones{
    display: flex;
    align-items: center;
    margin-top: 10px;
    list-style: none;
    column-gap: 5px;
}

.listaicones img{
    height: 20px;
}

#fachada{
    margin-right: 25px;
}

section{
    padding: 24px 0;
}

main section div > p{
    margin-bottom: 5px;
}

#contato > div{
    display: flex;
    justify-content: space-between;
}

footer h2{
    height: fit-content;
}

form input,
form textarea,
form button{
    display: block;
    margin-bottom: 8px;
    width: 320px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    border: none;
    cursor: pointer;
    background-color: #182C61;
    color: #ffff;
}

form button:hover{
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

.socialmidia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-top: 5px;
}

.socialmidia img{
    height: 24px;
}