*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-color: #182C61;
    color: #ffff;
}

body{
    background-color: grey;
}

.Lnavegate li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

.Lnavegate li a{
    text-decoration: none;
    color: #ffff;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container, section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Lplataformas img{
    height: 24px;
}

.Lplataformas li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color: #182C61;
}

section p{
    color: black;
}

section h2{
    margin-bottom: 16px;
}

.fachadaloja{
    margin-right: 32px;
}

#contatos .container{
    display: block;
}

.contatos{
    display: flex;
    justify-content: space-between;
}