*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, #footer{
    padding: 16px 0;
    background-color: #182C61;
    color: #ffff;
}

body{
    font-family: 'Roboto', sans-serif;
}

header h1,
section h2{
    font-family: 'Bungee', cursive;
}

.Lnavegate li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

.Lnavegate li a{
    text-decoration: none;
    color: #ffff;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container,
section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Lplataformas img{
    height: 24px;
}

.Lplataformas li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
    color: #182C61;
}

section p{
    color: black;
}

section h2{
    margin-bottom: 16px;
}

.fachadaloja{
    margin-right: 32px;
}

#contatos .container{
    display: block;
}

.contatct-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    margin-bottom: 8px;
    width: 320px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button{
    border: none;
    cursor: pointer;
    background-color: #182C61;
    color: #ffff;
}

form button:hover{
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

.RedesSociais img{
    height: 24px;
}

.RedesSociais li{
    display: inline;
    margin-right: 8px;
}

.RedesSociais li a{
    text-decoration: none;
}