*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    /*justify-content (com o display: flex) mexe com o eixo principal (horizontal)*/
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

body{
    background-color: rgb(31, 2, 58);
} 

.opcoes_padrao h1{
    color: white;
}

#opcoes_padrao{
    margin-left: 58px;
}

#botoes{
    margin-left: 63px;
}

.container{
    display: flex;
    justify-content: center;
}

table{
    margin-top: 100px;
}

table img{
    height: 60px;
    border-radius: 12px;
}

input{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(133, 132, 132, 0.63);
}

h1{
    font-size: 50px;
    color: white;
}

header button{
    padding: 15px;
    border-radius: 12px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.699);
}

option{
    background-color: rgba(133, 132, 132, 0.63);
}

select{
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(133, 132, 132, 0.63);
    color: white;
}

.addContato button{
    padding: 7px;
    border-radius: 12px;
    color: white;
}

#botao_criar{
    background-color: rgb(8, 136, 25);
}

#cancelar_add{
    background-color: rgba(255, 0, 119, 0.541);
}

.addContato h2{
    font-size: 50px;
    color: white;
}