*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #022C44;
}

header{
    background-color: rgb(4, 126, 126);
}

header ul img{
    height: 100px;
}

header ul a{
    color: white;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

nav li{
    display: inline;
}

.container{
    max-width: 1280px;
    width: 100%;
    display: flex;
}

ul li a:hover{
    color: rgb(211, 210, 210);
}

.palavra_user{
    color: green;
}

main button{
    padding: 22px 0;
    width: 240px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #59AE04;
    font-size: 22px;
    cursor: pointer;
}

main button:hover{
    background-color: #458802;
    color: rgb(214, 214, 214);
}