*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #022C44;
}

.container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(1, 41, 65, 0.95);
    border-radius: 6px;
}

nav li{
    display: inline;
}

#logo_header{
    width: 90px;
    cursor: pointer;
    transition: 0.4s;
}

#logo_header:hover{
    transform: scale(1.06);
}

#navLista1{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#navLista1 li, .dropdown-toggle{
    margin-right: 20px;
}

#navLista1 li a:hover{
    color: rgb(211, 210, 210);
}

.navitem{
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-toggle:hover, .navitem:hover{
    color: rgb(211, 210, 210);
}

.dropdown{
    color: white;
}

.dropdown-item:active{
    color: black;
    background-color: transparent;
}

/*compensar padding padrão dos menus dropdowns*/
#navLista2{
    padding-right: 32px;
}

#navLista2 li a{
    color: rgb(1, 206, 1);
    transition: 0.5s;
    margin-left: 30px;
    font-size: 19px;
    text-decoration: none;
}

#navLista2 li a:hover{
    color: rgb(0, 167, 0);
}

.dropdown-toggle::after {
    display: none;
}

.row{
    color: white;
}

