*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #022C44;
}

.container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

nav li{
    display: inline;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(1, 41, 65, 0.95);
    border-radius: 6px;
}

/*?????
#imgSparta{
    display: flex;
    pesquisar o que faz esse item align-self: baseline;
    align-self: baseline;
    width: 90px;
    margin-right: 100px;
    position: sticky;
    cursor: pointer;
    transition: 0.5s;
}*/

#logo_header{
    display: flex;
    width: 90px;
    margin-right: 100px;
    position: sticky;
    cursor: pointer;
    transition: 0.5s;
    width: 90px;
    /* position: static; */
    position: sticky;
    cursor: pointer;
    transition: 0.5s;
}

#logo_header:hover{
    transform: scale(1.10);
}

#navLista1 li{
    margin-right: 20px;
}

#navLista1{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* nav ul{
    solução de alinhamento vertical chatGPT
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */

nav > .container{
    display: flex;
    align-items: flex-end;
    /* height: 90px; */
    justify-content: space-between;
}

/*?????
#imgSparta{
    display: flex;
    pesquisar o que faz esse item align-self: baseline;
    align-self: baseline;
    margin-right: 100px;
}*/

.navitem, .navitem a{
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-toggle:hover{
    color: rgb(211, 210, 210);
}

/*.dropdown{
    color: white;
    /* por que ao usar width: 100% o "comprar cash fica em um bloco?" */
    /* width: 100%;
}*/

#navLista2{
    padding-right: 32px;
}

#navLista1 li a:hover{
    color: rgb(211, 210, 210);
}

#navLista2 li a{
    color: rgb(1, 206, 1);
    transition: 0.5s;
    font-size: 19px;
    margin-left: 30px;
    text-decoration: none;
}

#navLista2 li a:hover{
    color: rgb(0, 167, 0);
}

.dropdown-toggle::after {
    display: none;
}

.imagem_fundonoticia{
    background-image: url(../lib/images/img_noticia1.png);
    opacity: 0.6;
    background-size: cover;
    background-position: center center;
    width: 95%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.noticiabg{
    background-color: #002547;
    color: white;
}

.noticiabg div{
    height: fit-content;
}

.bgcorrecaobug{
    background-color: rgba(0, 170, 119, 0.5);
    width: 290px;
    border-radius: 12px;
}

.userArticleC{
    height: 40px;
}

.nomeChamp{
    width: fit-content;
    border-bottom: 3px solid rgb(0, 94, 66);
    margin-left: 8px;
}

.nomeAtt{
    width: 90px;
    border-bottom: 3px solid rgb(0, 170, 119);
    height: fit-content;
}

.carousel{
    width: 600px;
}

.bi-check-all::before{
    height: 30px;
    font-size: 22px;
}

footer{
    padding: 20px;
    background-color: #011c2c;
    text-align: center;
    color: white;
    margin: 0;
}